.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9ff; /* Light theme jaisa Hero section */
}
.login-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}
.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}